.table-wrapper{
    border: 2px solid #ccc;
    margin-top: 30px;
    margin-bottom: 10px;
}

.table-wrapper table{
    margin-bottom: 0px !important;
}

.page-wrapper{
    justify-content: end;
}

.text-right{
    justify-content: end;
}

